@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('./Press_Start_2P/PressStart2P-Regular.ttf')format('truetype');
}
html {
  scroll-behavior: smooth;
  letter-spacing: 1.5px;

  
}
body {

background-image: url(./wallpaperflare.com_wallpaper.jpg);
background-size: contain;


 
  margin: 0;
  padding: 0;
  font-family: 'PressStart2P-Regular',sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border: 4px solid rgb(69, 168, 99);
  padding: 16px;
  height: auto;
  box-shadow: 0px 4px 10px 0px rgb(64, 167, 5);
  
}



.Header-logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  

}
.Header-logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
 
}
.Header-logo a:hover, .Header-logo a.active {
  text-shadow: 3px 3px 3px yellowgreen;
  color: yellow;
  
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

 
}

.nav-links li {
  margin-left: 16px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 50px;
  transition: 0.6s;
}

.nav-links a:hover {
  text-decoration: underline;
  color: yellow;
  text-shadow: 3px 2px 4px yellow;
  transition: 0.6s;
  
}
 .nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
 .nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ADFF2F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}





.nav-links li a:hover, .nav-links li a.active {
  text-decoration: underline;
  color: yellow;
  text-shadow: 3px 2px 4px yellow;
}



section {
  margin-bottom: 20px;
}

/*----------------- HOME --------------------------*/
.Home-container {
  background-color: white;
  opacity: 0.900;
  height: auto;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 5%;
  border-radius: 30px;

}
h1 {
  line-height: 3;
  text-align: center;
  font-size: 15pt;
  
}

.HomeParagraph {
  font-size: 15pt;
  line-height: 2;
  margin-left: 10px;
  margin-right: 10px;
  
}

/*----------------- ABOUT --------------------------*/
.About-me-container {
  background-color: white;
  opacity: 0.850;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 30px;
}
.AboutParagraph {
    margin-top: 10px;
    font-size: 13pt;
    line-height: 2;
}

/*---------------------EDUCATION-----------------------*/
.Education-container {
  background-color: white;
  opacity: 0.850;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 30px;
}
.EducationParagraph {
    margin-top: 10px;
    font-size: 13pt;
    line-height: 5;
}

/*----------------- SKILLS --------------------------*/
.ProjectsContainer {
  background-color: white;
  opacity: 0.850;
 
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 30px;
  margin-left: 15px;
  margin-right: 15px;
 
}
.ProjectsParagraph {
  margin-top: 10px;
  font-size: 13pt;
  line-height: 2;
}

ul {
  text-align: left;

}
/*-------------------CONTACT--------------------------------*/
.ContactParagraph {
  margin-top: 10px;
  font-size: 13pt;
  line-height: 2;
}
.Contact-container {
  background-color: white;
  height: auto;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
  opacity: 0.850;
  border-radius: 30px;
}

/*--------------------- OTHERS --------------------------------*/
.Others-container {
  background-color: white;
  opacity: 0.850;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 30px;
 
}
.OthersParagraph {
  margin-top: 10px;
  font-size: 13pt;
  line-height: 2;
}

/*----------FOR CONTAINER(Bootstrap)-----------*/
.container {
  max-width: 80%;
  opacity: 0.8;
  z-index: 2;
  padding-bottom: 5%;
  animation: float 6s ease-in-out infinite;
  

}

/*-----------------Profile Pic  ------------------------*/
#ProfilePic {
  border: 1px solid black;
  height: 40%;
  width: 35%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
  display: block;
  margin: 0 auto;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}


/*----------------------Customizing float element in Img----------------------------------*/
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


/*------------------------------Table for Education---------------------------------------------------*/

table {
  width: 51%;
  margin-right: 20%; 
}

img {
  border-radius: 50%;
}





